
header{
    background-color: #04025a;
    padding: 7%;
    color: aliceblue;
    text-align: center;
}

p{
    text-align: center;
    font-size: 1.2em;
    
}
.p{
    margin-top: 10px;
}
